@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* hides right broswer scrol bar */
::-webkit-scrollbar {
  display: none;
}

body {
  @apply bg-gray-100
}


footer ul{
  @apply hover:underline hover:decoration-gold hover:text-gold
}

footer ul{
  @apply pl-4 sm:pl-0
}


.hero-section-main {
  background: linear-gradient(rgba(58, 58, 58, 0.5), rgb(0, 0, 0)),
    url('assets/images/ladywriting.jpg');
    background-size: cover;
    background-position: center;
}

.hero-section-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0)),
    url('assets/images/banner1-handpot.jpg');
    background-size: cover;
    background-position: center;
}

.hero-section-1-web {
  background-image : url('assets/images/banner1-handpot.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.interest-selected {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0)),
    url('assets/images/banner1-handpot.jpg');
}


.carousel-1-background {
  background: linear-gradient(rgba(14, 11, 14, 0.457), rgba(15, 5, 5, 0.8)),
    url('assets/images/women-laugh.jpg');
    background-size: cover;
    background-position: 0% 15%;
    opacity: 90%;
}

.carousel-2-background {
  background: linear-gradient(rgba(14, 11, 14, 0.457), rgba(15, 5, 5, 0.8)),
    url('assets/images/lady-onphone.jpg');
    background-size: cover;
    background-position: top;
    opacity: 90%;
}

.carousel-3-background {
  background: linear-gradient(rgba(14, 11, 14, 0.457), rgba(15, 5, 5, 0.8)),
    url('assets/images/banner2-ladiesLap.jpg');
    background-size: cover;
    background-position: 0% 30%;
    opacity: 90%;
}